.App {
  text-align: center;
  color: #2C3131;
}

.hello {
  width: 600px;
}

.home-cont {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav {
  /* background-color: #ff6e40; */
  background-color: #FFFEFE;
  color: #2C3131;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.link-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

