a {
  text-decoration: none;
  color: #707d7d;
}

a:hover {
  color: #2C3131;
}

.about-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-img {
  /* border: 2px solid #707d7d; */
  width: 600px;
  filter: drop-shadow(0px 10px 10px rgb(200, 200, 200)); 
}

.about-txt {
  /* border: 2px solid #707d7d; */
  width: 600px;
}

.align-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  /* text-align: center; */
  /* background-color: #ff6c6c; */
  background-color: #FFFEFE;
  color: #2C3131;
}

.carousel {
  width:600px;
  height:500px;
  filter: drop-shadow(0px 10px 10px rgb(200, 200, 200)); 
}

.center {
  width: 90vw;
  margin: 0 auto;
}

.hello {
  width: 600px;
}

.home-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.message {
  display: inline;
  color: #707d7d;
}
  
.message:hover {
    color: #2C3131;
}

nav {
  /* background-color: #ff6e40; */
  background-color: #FFFEFE;
  color: #2C3131;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
}

.seemore {
  background-color: #2C3131;
  color:#ccc9c9;
  width: 150px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 3px rgb(165, 165, 165)); 
}

.seemore:hover {
  color:#FFFEFE;
  background-color: #4d5454;
  filter: drop-shadow(0px 4px 5px rgb(165, 165, 165)); 
}

.sock-img {
  height: 700px;
}

.sock-txt, .align-txt {
  margin: 0 auto;
  width: 70vw;
  text-align: justify;
}

.spacer {
  height: 50px;
}

.work-cont {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px;
  filter: drop-shadow(0px 10px 10px rgb(226, 225, 225)) 
}

.work-name {
  /* border: 2px solid #707d7d; */
  text-align: center;
  /* height: 600px; */
  width: 300px;
  padding-top: 30px;
}

.work-img {
  height: 600px;
  width: 600px;
  border: 2px solid #707d7d;
}

.work-sockimg, .work-alignimg {
  height: 500px;
  /* filter: drop-shadow(0px 0px 10px #a2a042); */
}

.work-subtitle {
  color: #707d7d;
}